@supports (color:lab(0% 0 0)) {
    :root {
        --background: lab(98.84% .0000298023 -.0000119209); /* cor de fundo em geral */
        --foreground: lab(7.22637% -.0000149012 0); /* cor dos textos no site */
        --card: lab(100% 0 0);
        --card-foreground: lab(7.22637% -.0000149012 0);
        --popover: lab(100% 0 0);
        --popover-foreground: lab(7.22637% -.0000149012 0);
        --primary: lab(71.2019% 8.24577 52.3464);
        --primary-foreground: lab(7.27453% 1.01619 6.17766);
        --secondary: lab(96.5601% .286847 3.81331);
        --secondary-foreground: lab(18.8% 0 0);
        --muted: lab(95.36% 0 0);
        --muted-foreground: lab(42% 0 0);
        --accent: lab(82.8129% 4.16073 32.279);
        --accent-foreground: lab(13% 0 0);
        --destructive: lab(48.4493% 77.4328 61.5452);
        --destructive-foreground: lab(48.4493% 77.4328 61.5452);
        --border: lab(88.4762% .642717 7.67483);
        --input: lab(90.72% .0000298023 -.0000119209);
        --ring: lab(71.2019% 8.24577 52.3464);
        --chart-1: lab(71.2019% 8.24577 52.3464);
        --chart-2: lab(55.0223% -41.0774 -3.90277);
        --chart-3: lab(30.372% -13.1853 -18.7887);
        --chart-4: lab(80.1641% 16.6016 99.2089);
        --chart-5: lab(72.7183% 31.8672 97.9407);
        --sidebar: lab(98.26% 0 0);
        --sidebar-foreground: lab(2.75381% 0 0);
        --sidebar-primary: lab(71.2019% 8.24577 52.3464);
        --sidebar-primary-foreground: lab(7.27453% 1.01619 6.17766);
        --sidebar-accent: lab(96.52% -.0000298023 .0000119209);
        --sidebar-accent-foreground: lab(7.78201% -.0000149012 0);
        --sidebar-border: lab(90.952% 0 -.0000119209);
        --sidebar-ring: lab(66.128% -.0000298023 .0000119209);
        --gold: lab(71.2019% 8.24577 52.3464);
        --gold-light: lab(82.8129% 4.16073 32.279);
        --gold-dark: lab(53.7345% 9.37668 56.8433);
        --pink: lab(69.3922% 38.9471 -7.4692);
        --pink-light: lab(87.6% 19.7857 -3.75594);
        --pink-dark: lab(51.5806% 48.0324 -9.28907);
    }
}



body {
    background-color: var(--background);
    color: var(--foreground);
}


header {
    display:block;
    unicode-bidi: isolate; /* isola um elemento de texto como árabe/hebraico inserido em um texto latino */
    background-color: color-mix(in oklab, var(--background) 60%, transparent); /*  in oklab - Define o espaço de cor onde a mistura acontece. */
    border-color: color-mix(in oklab, var(--border) 40%, transparent);
}

.nav-bar {
    list-style-type: none; /* tira os pontos da ul */
    margin: 0;
    padding: 0;
    margin-right: 20;
    display: flex; 
}
