 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            list-style: none;
        }

        .logo-link{
            display: flex;
            flex-direction: column;
        }

        .brand-title{
            font-size: 32px;
            color: #b98a18;
            font-weight: bold;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .brand-sub{
            font-size: 12px;
            letter-spacing: 3px;
            color: #666;
        }

        .nav-seccoes{
            display: flex;
            gap: 30px;
        }

        .nav-seccoes a{
            color: #1d1d1d;
            font-weight: 500;
        }

        .nav-seccoes a:hover{
            color: #b98a18;
        }

        button{
            padding: 14px 24px;
        } 

        button a{
            color: white;
            font-weight: bold;
        } 

        main{
            width: 90%;
            margin: auto;
            padding: 80px 0;
        }

        main h3{
            color: #b98a18;
            margin-bottom: 15px;
            font-size: 18px;
        }


        main p{
            max-width: 800px;
            line-height: 1.7;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .main-info{
            display: flex;
            align-items: baseline;
            gap: 25px;
            margin:0 ;
        }
        .main-info p{
            display: flex;
            align-items: center;
        }

        section{
            width: 90%;
            margin: auto;
            margin-bottom: 90px;
        }

        .beneficios h2{
            font-size: 40px;
            margin-bottom: 30px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .beneficios ul{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 15px;
        }

        .beneficios li{
            background-color: white;
            border: 1px solid #d8cfc2;
            border-radius: 10px;
            padding: 20px;

            display: flex;
            align-items: center;
            gap: 10px;
        }

        .material-symbols-outlined{
            color: #b98a18;
        }

        .profissional{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            align-items: center;
        }

        aside small{
            color: #b98a18;
            font-size: 14px;
        }

        aside h2{
            font-size: 40px;
            margin: 20px 0;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        article{
            background-color: white;
            padding: 35px;
            border-radius: 15px;
            border: 1px solid #d8cfc2;
        }

        article h3{
            margin-bottom: 20px;
        }

        article li{
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .equipamentos small{
            color: #b98a18;
            font-size: 14px;
        }

        .equipamentos h2{
            font-size: 40px;
            margin: 20px 0 30px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .equipamentos ul{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 20px;
        }

        .equipamentos li{
            background-color: white;
            padding: 30px;
            border-radius: 15px;
            border: 1px solid #d8cfc2;
        }

        .equipamentos h3{
            margin-bottom: 20px;
            font-size: 22px;
        }
